
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Product>
<div class="container">
	<div class="card mt-5">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-responsive">
				<thead>
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th>Description</th>
						<th>Count</th>
						<th>CostPrice</th>
						<th>SellPrice</th>
						<th>Feature</th>
						<th>Colors</th>
						<th>Tags</th>
						<th>Categories</th>
						<th>Image</th>
						<th colspan="2">Operation</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var p in Model)
					{
						<tr>
							<td>@p.Id</td>
							<td>@p.Title</td>
							<td>@p.Description</td>
							<td>@p.Count</td>
							<td>@p.CostPrice</td>
							<td>@p.SellPrice</td>
							<td>
								@foreach (var feature in p?.ProductFeatures.Where(pc => pc.ProductId == p.Id))
								{
									<span>@feature.PFeature.Title</span>
								}
							</td>
							<td>
								@foreach (var color in p?.ProductColors.Where(pc => pc.ProductId == p.Id))
								{
									<span>@color.Color.Name</span>
								}
							</td>
							
							<td>
								@foreach (var tag in p?.ProductTags.Where(ps => ps.ProductId == p.Id))
								{
									<span>@tag.Tag.Name</span>
								}
							</td>
							<td>
								@foreach (var category in p?.ProductCategories.Where(pc => pc.ProductId == p.Id))
								{
									<span>@category.Category.Name</span>
								}
							</td>
							<td><img width="40" src="~/assets/images/product/@p.ProductImages?.FirstOrDefault(pi=>pi.IsPrimary == true)?.ImageUrl"> </td>
							<td><a class="btn btn-danger" asp-area="Manage" asp-controller="Product" asp-action="Delete" asp-route-id="@p.Id">Delete</a></td>
							<td><a class="btn btn-info" asp-area="Manage" asp-controller="Product" asp-action="Update" asp-route-id="@p.Id">Update</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

