
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<TourDay>
<div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Employees </h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Hotel</th>
                                <th>Tour</th>
                                <th colspan="2">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td><img width="40" src="~/assets/images/@item.TourDaysImages?.FirstOrDefault(ti=>ti.IsPrimary == true)?.ImageUrl"> </td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.Hotel.Name</td>
                                    <td>@item.Tour.Name</td>
                                    <td><a asp-action="Delete" asp-route-id="@item.Id" asp-controller="TourDay" class="btn btn-danger">Delete</a></td>
                                    <td><a asp-action="Update" asp-route-id="@item.Id" asp-controller="TourDay" class="btn btn-success">Update</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


