
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

@model ContactUs

<div class="d-md-flex justify-content-md-center " style="max-width:95%;min-width:70%">
    <div class="row" style="max-width:95%; min-width:70%">
        <div class="card col-11 mt-3" style="max-width:95%; min-width:70%">
            <div class="row g-0">
                <div class=" row">
                    <div class="col-md-2 d-md-flex justify-content-md-center">
                        <img style="max-height:100px; max-width:100%" src="~/assets/images/blog/user.png" class="img-fluid rounded-start ms-2 mt-2 mb-1">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body">
                            <h2 class="card-title">FullName: @Model.FullName</h2>
                            <h2 class="card-title">Subject: @Model.subject</h2>
                            <h4 class="card-title">Email:@Model.Email</h4>
                            @if (Model.PhoneNumber is not null)
                            {
                                <h4 class="card-title">Phone number: @Model.PhoneNumber</h4>
                            }
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <p>@Model.Message</p>
                </div>
            </div>
        </div>
        <div class="col-1 mt-3">
            @if (Model.IsSeen != true)
            {
                <div class="my-2">
                    <a asp-action="Seen" asp-route-Id="@Model.Id" class="btn btn-success">
                        <i class="bi bi-patch-check"></i>
                    </a>
                </div>
            }

            <div class="my-3">
                <a asp-action="Ignore" asp-route-id="@Model.Id" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
    </div>
</div>
